<div>
    <header>
        <div class=" text-center text-white"
            style="background: rgb(2,0,36);background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);">
            <span class="fs-3">Livraison sur 14 jours ouvrés</span>
        </div>

    </header>

    <div class="banniere">
        <nav class="navbar navbar-expand-lg  ">
            <div class="container-fluid">
                <a class="navbar-brand text-white" href="">E-maillot</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav text-center me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active  text-white fw-bold" aria-current="page"
                                [routerLink]="['/home']">Acceuil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  text-white fw-bold" [routerLink]="['/catalogue']">Nos produits</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  text-white fw-bold" [routerLink]="['/command']">Commande</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  text-white fw-bold" [routerLink]="['/home']"
                                fragment="contact">Contactez-nous</a>
                        </li>
                    </ul>
                    <div>
                        <a [routerLink]="['/cart']" class="text-decoration-none mx-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white"
                                class="bi bi-cart-fill" viewBox="0 0 16 16">
                                <path
                                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                            </svg>
                        </a>
                        <a [routerLink]="['/profil']" class="text-decoration-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white"
                                class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Boîte de recherche -->
        <div class="container mt-5 custom-search-container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form action="./products/product.php" method="post" class="d-flex">
                        <select class="form-select" name="category" aria-label="Default select example">
                            <option selected>Choisisez votre catégories</option>
                            <option value="Premier League">Premier League jerseys</option>
                            <option value="Serie A">Serie A jerseys</option>
                            <option value="La Liga">Liga</option>
                            <option value="Ligue 1">Ligue 1 jerseys</option>
                            <option value="Pays">Countries jerseys</option>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-primary custom-search-button" type="submit"
                                id="button-addon2">Rechercher</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5 " style="background-color: #D7D1FF;">
        <h3 class="ms-5 fs-2">Nos meilleurs maillots</h3>
        <div class=" text-center mx-5 ">
            <div class="dflex justify-content-between">

                <div class="row ">
                    <div class="col" *ngFor="let Product of allProduct">
                        <div class="card shadow  " style="background-color:#ffffff">
                            <div class="card-body">
                                <h5 class="card-title"> {{Product.productName}} </h5>
                                <img src="{{Product.picture}}" class="card-img-top" alt="Product Image"
                                    style="max-width: 200px;">
                                <p class="card-text">{{Product.Price}} <strong>EUR</strong></p>
                                <a [routerLink]="['/product', Product.productId]" class="btn btn-primary w-75">Voir
                                    plus</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="text-center ">
                <a class="btn btn-primary my-4" href="./products/product.php">Voir plus</a>
            </div>

        </div>
    </div>


    <div class=" mt-5  shadow">
        <h3 class="ms-5 fs-2 mt-2">Nos promotions</h3>
        <div class=" text-center">
            <div class="container custom-bg-white"> <!-- Inclusion du contenu de get1.php -->
                <div class="dflex justify-content-between">

                    <div class="row ">
                        <div class="col" *ngFor="let Product of allProduct">
                            <div class="card shadow  " style="background-color:#D7D1FF">
                                <div class="card-body">
                                    <h5 class="card-title"> {{Product.productName}} </h5>
                                    <img src="{{Product.picture}}" class="card-img-top" alt="Product Image"
                                        style="max-width: 200px;">
                                    <p class="card-text">{{Product.Price}} <strong>EUR</strong></p>
                                    <a [routerLink]="['/product', Product.productId]" class="btn btn-primary w-75">Voir
                                        plus</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a class="btn btn-primary my-4" href="./products/product.php">Voir plus</a>
                </div>

            </div>
        </div>

    </div>
    <div class=" p-5" style="background-color: #D7D1FF;">
        <div class="mx-5 ">
            <div>
                <a class="btn d-flex justify-content-between bg-white border border-light border-2 my-2"
                    data-bs-toggle="collapse" href="#faq-1" role="button" aria-expanded="false" aria-controls="faq-1">
                    Quels types de maillots proposez-vous ?<span><svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path
                                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                        </svg></span>
                </a>
                <div class="collapse" id="faq-1">
                    <div class="card card-body">
                        Nous proposons une large gamme de maillots, couvrant divers sports et styles, allant du football
                        au
                        basketball en passant par le cyclisme.
                    </div>
                </div>
            </div>
            <div>

                <a class="btn d-flex justify-content-between bg-white border border-light border-2 my-2"
                    data-bs-toggle="collapse" href="#faq-2" role="button" aria-expanded="false" aria-controls="faq-2">
                    Quelle est la politique de retour ? <span><svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path
                                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                        </svg></span>
                </a>
                <div class="collapse" id="faq-2">
                    <div class="card card-body">
                        Notre politique de retour est simple et conviviale. Vous avez 15 jours pour retourner votre
                        maillot
                        dans
                        son état d'origine et nous vous rembourserons intégralement.

                    </div>
                </div>


            </div>
            <div>
                <a class="btn d-flex justify-content-between bg-white border border-light border-2 my-2"
                    data-bs-toggle="collapse" href="#faq-3" role="button" aria-expanded="false" aria-controls="faq-3">
                    Quels sont les matériaux de fabrication de vos maillots ?<span><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path
                                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                        </svg></span>
                </a>
                <div class="collapse" id="faq-3">
                    <div class="card card-body">
                        Nous utilisons des matériaux de haute qualité, tels que [mentionnez les matériaux utilisés],
                        pour
                        garantir un confort optimal et une durabilité accrue.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center bg-light p-5" id="contact">
        <div class=" p-5 " style="background-color: #D7D1FF;">
            <h4 class="fw-lighter">Email : {{email}}</h4>
            <h4 class="fw-lighter">Numéro : +33 7 52 25 36 38</h4>
        </div>
    </div>
    <div class=" text-center text-white"
        style="background: rgb(2,0,36);background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);">
        <span class="fs-5">E-maillot - 2024</span>
    </div>
</div>